<h3>Add a new bookmark</h3>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie, input_html: { class: "beautiful-dropdown" }, include_hidden: false %>
  <%= f.input :comment %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
